---
# Install MariaDB + Apache + PHP + phpMyAdmin

- name: Install database packages
  package:
    name:
      - mariadb-server
      - mariadb
      - httpd
      - php
      - php-mysqlnd
      - phpmyadmin
    state: present

- name: Enable and start MariaDB
  service:
    name: mariadb
    state: started
    enabled: yes

- name: Enable and start Apache
  service:
    name: httpd
    state: started
    enabled: yes

- name: Allow phpMyAdmin from LAN
  lineinfile:
    path: /etc/httpd/conf.d/phpMyAdmin.conf
    regexp: 'Require ip'
    line: "    Require ip {{ db_allowed_network }}"
  notify: restart httpd

- name: Create sample database
  mysql_db:
    name: sampledb
    state: present

- name: Create sample user
  mysql_user:
    name: sampleuser
    password: "{{ db_user_password }}"
    priv: "sampledb.*:ALL"
    state: present