---
- name: Install database packages
  package:
    name:
      - mariadb-server
      - mariadb
      - httpd
      - php
      - php-mysqlnd
    state: present

- name: Enable and start MariaDB
  service:
    name: mariadb
    state: started
    enabled: yes

- name: Enable and start Apache
  service:
    name: httpd
    state: started
    enabled: yes

- name: Create sample database
  shell: mysql -u root -e "CREATE DATABASE IF NOT EXISTS sampledb;"

- name: Create sample user with password
  shell: mysql -u root -e "CREATE USER IF NOT EXISTS 'sampleuser'@'%' IDENTIFIED BY 'password';"

- name: Grant privileges on sampledb to sampleuser
  shell: mysql -u root -e "GRANT ALL PRIVILEGES ON sampledb.* TO 'sampleuser'@'%'; FLUSH PRIVILEGES;"
