<VirtualHost *:80>
    ServerName {{ item.servername }}

    DocumentRoot {{ item.documentroot }}

    <Directory {{ item.documentroot }}>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog /var/log/httpd/{{ item.servername }}-error.log
    CustomLog /var/log/httpd/{{ item.servername }}-access.log combined
</VirtualHost>
