---
- name: Install BIND packages
  package:
    name:
      - bind
      - bind-utils
    state: present

- name: Deploy named.conf
  template:
    src: named.conf.j2
    dest: /etc/named.conf
    owner: root
    group: named
    mode: '0640'

# Create forward lookup zone
- name: Deploy forward zone
  template:
    src: forward.j2
    dest: "/var/named/forward.{{ domain_name }}"
    owner: root
    group: named
    mode: '0640'

# Create reverse lookup zone
- name: Deploy reverse zone
  template:
    src: reverse.j2
    dest: "/var/named/reverse.{{ reverse_zone }}"
    owner: root
    group: named
    mode: '0640'

- name: Enable and restart named
  service:
    name: named
    state: restarted
    enabled: yes