---
- name: Set timezone
  timezone:
    name: "{{ timezone }}"

- name: Install common packages
  package:
    name: "{{ packages_common }}"
    state: present

- name: Enable firewall services
  firewalld:
    service: "{{ item }}"
    permanent: yes
    state: enabled
  loop: "{{ firewall_allow_services }}"
  when: ansible_facts['os_family'] == "RedHat"

- name: Reload firewall
  command: firewall-cmd --reload
  when: ansible_facts['os_family'] == "RedHat"

- name: Configure resolv.conf
  copy:
    dest: /etc/resolv.conf
    content: |
      search ziyotek.local
      nameserver 192.168.29.151

- name: Disable root SSH login
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: restart ssh

- name: Install common DNS tools
  package:
    name:
      - bind-utils
