---
- name: Add Docker CE repository
  get_url:
    url: https://download.docker.com/linux/rhel/docker-ce.repo
    dest: /etc/yum.repos.d/docker-ce.repo

- name: Install Docker packages
  package:
    name: "{{ docker_packages }}"
    state: present

- name: Join the Swarm
  command: docker swarm join --token {{ swarm_worker_token }} {{ docker_swarm_manager_ip }}:2377
  when: swarm_worker_token is defined