- name: Configure FTP Server
  hosts: ftp
  become: yes

  tasks:
    - name: Install vsftpd
      yum:
        name: vsftpd
        state: present

    - name: Ensure ftp user exists
      user:
        name: ftpuser
        password: "{{ 'password' | password_hash('sha512') }}"
        shell: /bin/bash

    - name: Allow local users to login
      lineinfile:
        path: /etc/vsftpd/vsftpd.conf
        regexp: '^#?local_enable='
        line: 'local_enable=YES'

    - name: Allow write
      lineinfile:
        path: /etc/vsftpd/vsftpd.conf
        regexp: '^#?write_enable='
        line: 'write_enable=YES'

    - name: Restart FTP service
      systemd:
        name: vsftpd
        enabled: yes
        state: restarted

