---
- name: Reset MariaDB root password
  hosts: prdx-db101
  become: yes

  vars:
    new_root_password: "password"

  tasks:
    - name: Stop MariaDB
      systemd:
        name: mariadb
        state: stopped

    - name: Start MariaDB without auth
      shell: "mysqld_safe --skip-grant-tables &"
      async: 10
      poll: 0

    - name: Wait for DB to be ready
      wait_for:
        port: 3306
        delay: 5
        timeout: 30

    - name: Update root password
      shell: >
        mysql -u root -e "FLUSH PRIVILEGES;
        ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ new_root_password }}';"

    - name: Restart MariaDB normally
      systemd:
        name: mariadb
        state: restarted
