---
- name: Install NRPE on all monitored clients
  hosts:
    - prdx-db101
    - prdx-webserver101
    - prdx-webserver102
    - prdx-webserver103
    - prdx-nfs101
    - prdx-ftp101
    - prdx-nsprimary101
    - prdx-haproxy101
    - prdx-dprimary101
    - prdx-dworker101
    - prdx-dworker102
  become: yes
  tasks:

    - name: Install NRPE and basic plugins
      yum:
        name:
          - nrpe
          - nagios-plugins
          - nagios-plugins-disk
          - nagios-plugins-load
          - nagios-plugins-ping
          - nagios-plugins-http
        state: present

    - name: Allow Nagios Server IP
      lineinfile:
        path: /etc/nagios/nrpe.cfg
        regexp: '^allowed_hosts='
        line: 'allowed_hosts=127.0.0.1,192.168.29.157'

    - name: Enable NRPE
      systemd:
        name: nrpe
        state: restarted
        enabled: yes

